.card{
    margin: 10px;
    height: auto;
    overflow: hidden;
    padding: .9rem;
    border-radius: 8px;
    background-color: rgb(204, 204, 233);
    transition: .6s;
}
.card:hover{
    width: 100%;
     
    transition: .6s;
    transform: translateY(-3px);
    box-shadow: 0 8px 2px -2px var(--purple-500);
}
.card h1{
    font-size: 1.5rem;
    

}
 
.card:last-child{
    margin-right: 0;
}
a{
    text-decoration: none;
    color: var(--darkblue);
    outline: none;
    border: none;
}
a:hover{
    color: var(--purple);
}